name: Build
on: [push, workflow_dispatch]
jobs:
	Windows-x64:
  	runs-on: windows-latest
    steps:
    - name: Set up MinGW
  		uses: egor-tensin/setup-mingw@v2
  		with:
    		platform: x64
    - name: build
    	run: gcc -std=c99 main.c -o Windows-x64.exe
  Windows-x86:
  	runs-on: windows-latest
    steps:
    - name: Set up MinGW
  		uses: egor-tensin/setup-mingw@v2
  		with:
    		platform: x86
    - name: Build
    	run: gcc -std=c99 main.c -o Windows-x86.exe
  Linux-x64:
  	runs-on: ubuntu-latest
    - name: Set up GCC
  		uses: egor-tensin/setup-gcc@v1
  		with:
   			version: latest
    		platform: x64
    - name: Build
    	run: gcc -std=c99 main.c -o Linux-x64.out
  Linux-x86:
  	runs-on: ubuntu-latest
    - name: Set up GCC
  		uses: egor-tensin/setup-gcc@v1
  		with:
    		version: latest
    		platform: x86
    - name: Build
    	run: gcc -std=c99 main.c -o Linux-x86.out